#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    
}

.boardSquare {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
}